*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

h2{
  color: #111;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  font-family: 'Inter', sans-serif;
  padding: 20px 0;
}

h4{
  color: #111;
  font-size: 21px;
  font-weight: 500;
  line-height: 29px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 15px;
}

p{
  color: rgb(91, 91, 91);
  list-style: 26px;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Outfit', sans-serif;
}

.nav-root {
    top:0; 
    z-index:50; 
    background: transparent; 
    transition: box-shadow .2s;
}

.nav-root.scrolled { box-shadow: 0 4px 14px rgba(0,0,0,0.08); }

.container { 
    margin:0 auto; 
    padding:20px 50px; 
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.nav { 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    height:64px; 
}

.brand { 
    font-weight:700; 
    font-size:20px; 
    text-decoration:none; 
    color:#111; 
}

.brand img {
  width: 120px;
  height: auto;
}

.cart-icon{
    background-color: #f3f6fb;
    padding: 15px;
    border-radius: 50%;
    position: relative;
}

.cart-icon span{
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger { 
    display:none; 
    background:none; 
    border:none; 
    font-size:22px; 
}

.nav-links { 
    display:flex; 
    gap:10px; 
    list-style:none; 
    margin:0; 
    padding:0; 
}

.nav-links a { 
    text-decoration:none; 
    color:rgb(91, 91, 91); 
    margin:8px 8px;  
    font-family:'Outfit', sans-serif;
    font-weight:400;
    size: 26px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.nav-links a:hover{
    border-bottom:2px solid #111;
}



.search-box {
  position: relative;
  display: flex;
  align-items: center;
  
}

.search-box input {
  width: 100%;
  padding: 17px 40px 17px 35px; 
  border: 1px solid #b6b6b6;
  border-radius: 50px;
  background-color: #f3f6fb;
  font-size: 14px;
}

.search-box .search-icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
  
}

.search-box .search-btn {
  position: absolute;
  right: 0px;
  padding: 17px 17px;
  border: 1px solid #b6b6b6;
  background: #ffffff;
  color: rgb(91, 91, 91);
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.search-box .search-btn:hover{
  background-color: #111;
  color: white;
}

@media (max-width:768px) {
  .hamburger { display:block; }
  .nav-links { display:none; flex-direction:column; background:#fff; position:absolute; left:0; right:0; top:64px; padding:12px; border-top:1px solid #eee; }
  .nav-links.open { display:flex; }
}


.color{
  background-color: #fafafa;
  position: absolute;
  border-bottom-right-radius: 50px;
  top: 0;
  left: 0;
  width: 50%;
  height: 130%;
  z-index: -1;
}

.hero{
  padding: 60px;
  display: flex;
}

.hero .first{
  width: 30%;
}

.hero .first h1{
  font-size: 54px;
  font-weight: 400;
  padding-bottom: 30px;
  line-height: 59px;
}

.button1{
  margin-top: 40px;
  margin-right: 20px;
  padding: 25px;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  border: 2px solid #111;
  background-color: #111;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button1:hover{
  
  background-color: white;
  color: #111;
}

.button2{
  margin-top: 40px;
  padding: 25px;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  border: 2px solid #111;
  background-color: #ffffff;
  color: #111;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button2:hover{
  background-color: #111;
  color: white;
}

.hero .second img{
  width: 430px;
  padding: 50px 60px ;
}

.hero .third img{
  width: 250px;
}
.review{
  bottom: 0px;
  margin-top: 300px;
  width: 400px;
  margin-left: 50px;
}

.review .topreview{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.review .topreview img{
  width: 150px;
}

.categories{
  display: flex;
  gap: 40px;
  padding: 70px;
}

.categories p{
  max-width: 300px;
  padding-bottom: 30px;
}

.categories a{
  text-decoration: none;
  color: #111;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  font-family: 'Inter', sans-serif ;
}

.categories .category1{
  width: 24%;
  background-color: #f8f8f8;
  border-radius: 30px;
  min-width: 250px;
  max-height: none;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.categories .category1 img{
    object-fit: cover;
    object-position: 30% 50%;
    height: 530px;
    margin-top: -180px;
    margin-right: -118px;
    padding-left: 0;
    overflow: visible;
    margin-left: 100px;
}

.categories .category2{
  width: 48%;
  background-color: #f8f8f8;
  border-radius: 30px;
  min-width: 250px;
  max-height: none;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.categories .category2 img{
  object-fit: cover;
    object-position: 30% 50%;
    height: 390px;
    margin-top: -40px;
    margin-right: -150px;
    margin-left: 100px;
    overflow: visible;
}

.categories .category3{
  width: 24%;
  background-color: #f8f8f8;
  border-radius: 30px;
  min-width: 250px;
  max-height: none;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.categories .category3 img{
  object-fit: cover;
    object-position: 30% 50%;
    height: 530px;
    margin-top: -180px;
    margin-right: -110px;
    margin-left: 40px;
    padding-left: 0;
    overflow: visible;
}

.explore-products{
  background-image: url(https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67f499bf32fba62a49118dc5_Exprience%20Image.webp);
  background-size: cover;
  min-height: 500px;
  margin: 70px;
  border-radius: 30px;
  position: relative;
}

.explore-products .cont{
  background-color: #f8f8f8;
  max-width: 35%;
  height: 55%;
  border-top-left-radius: 30px;
  padding: 32px 56px;
  position: absolute;
  bottom: 0;
  right: 0;
}


.explore-products .cont p{
  padding-bottom: 60px;
}

.explore-products .cont a{
  text-decoration: none;
  padding: 20px;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  border: 2px solid #111;
  background-color: #111;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.explore-products .cont a:hover{
  background-color: white;
  color: #111;
}

.best-seller{
  padding: 70px;
}

.best-seller .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.best-seller .top a{
  text-decoration: none;
  color: #111;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  font-family: 'Inter', sans-serif ;
}

.best-seller .products{
  display: flex;
  justify-content: space-between;
}

.best-seller .products .product-card{
  width: 30%;
  position: relative;
  transition: all 0.3s ease;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.product-card:hover img {
  filter: brightness(50%);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: #fff;
  font-size: 24px;
  align-items: center;
}

.product-card:hover .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.buy-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #7c7c7c;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  transition: 0.3s;
}

.buy-btn:hover {
  background-color: #111;
  color: rgb(255, 255, 255);

}

.best-seller .products .product-card h3{
  color: #111;
  font-size: 21px;
  font-weight: 500;
  line-height: 29px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 15px;
}

.best-seller .products .product-card p{
  color: rgb(91, 91, 91);
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Outfit', sans-serif;
  padding-bottom: 15px;
  
}

.quality{
  padding: 70px;
  align-items: center;
  text-align: center;
}

.quality h2{
  color: #111;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 20px;
}

.quality p{
  color: rgb(91, 91, 91);
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Outfit', sans-serif;
  padding-bottom: 50px;
}

.quality a{
  text-decoration: none;
  padding: 20px;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  border: 2px solid #111;
  background-color: #111;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 50px;
}

.quality a:hover{
  background-color: white;
  color: #111;
}

.quality .photos{
  padding: 50px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.quality .photos img{
  width: 50%;
}

.features{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 70px;
}

.features .feature{
  width: 30%;
  background-color: #f8f8f8;
  border-radius: 30px;
  display: flex;
  padding: 50px 30px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.features .feature img{
  width: 70px;
}

.newsletter-section {
  border: 1px solid #dcdcdc;
  background: #f8f8f8;
  border-radius: 30px;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin: 70px ;
  max-width: 88%;
      
      text-align: center;
      position: relative;
      overflow: hidden;
      height: 400px;
}



    .newsletter-form {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      padding: 50px;
      
    }

    .newsletter-form input[type="email"] {
      padding: 21px 30px;
      border: 1px solid #ccc;
      border-radius: 50px;
      width: 280px;
      outline: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }

    .newsletter-form button {
      background: black;
      color: white;
      border: 1px solid #111;
      border-radius: 50px;
      padding: 21px 30px;
      cursor: pointer;
      font-size: 17px;
      line-height: 26px;
      font-weight: 600;
      transition: 0.3s;
    }

    .newsletter-form button:hover {
      background: white;
      color: #111;
    }

    .offer-box {
      position: absolute;
      width: 250px;
      height: 250px;
      background: linear-gradient(to bottom , white, #f8f8f8 );
      border-radius: 30px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.08);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
      font-weight: 500;
      color: 
rgb(166, 166, 168);
      opacity: 0.9;
      
    }

    .offer-left {
      top: 60%;
      left: 150px;
      transform: rotate(-15deg) translateY(-50%);
    }

    .offer-right {
      top: 60%;
      right: 150px;
      transform: rotate(15deg) translateY(-50%);
    }

   
    @media (max-width: 768px) {
      .offer-box {
        display: none; 
      }
    }

.articles{
  margin: 70px;
}

.articles .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.articles a{
  text-decoration: none;
  color: #111;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  font-family: 'Inter', sans-serif ;
}

.articles .last{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.articles .last img{
  width: 100%;
}

.articles .last .article p{
   padding: 20px 0;
}