*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

h2{
  color: #111;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  font-family: 'Inter', sans-serif;
  padding: 20px 0;
}

h4{
  color: #111;
  font-size: 21px;
  font-weight: 500;
  line-height: 29px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 15px;
}

p{
  color: rgb(91, 91, 91);
  list-style: 26px;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Outfit', sans-serif;
}

a{
  text-decoration: none;
}

.nav-root {
    top:0; 
    z-index:50; 
    background: transparent; 
    transition: box-shadow .2s;
}

.nav-root.scrolled { box-shadow: 0 4px 14px rgba(0,0,0,0.08); }

.container { 
    margin:0 auto; 
    padding:20px 50px; 
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}
.nav { 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    height:64px; 
}

.brand { 
    font-weight:700; 
    font-size:20px; 
    text-decoration:none; 
    color:#111; 
}

.brand img {
  width: 120px;
  height: auto;
}

.cart-icon{
    background-color: #f3f6fb;
    padding: 15px;
    border-radius: 50%;
    position: relative;
}

.cart-icon span{
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger { 
    display:none; 
    background:none; 
    border:none; 
    font-size:22px; 
}

.nav-links { 
    display:flex; 
    gap:5px; 
    list-style:none; 
    margin:0; 
    padding:0; 
}

.nav-links a { 
    text-decoration:none; 
    color:rgb(91, 91, 91); 
    margin:8px 8px;  
    font-family:'Outfit', sans-serif;
    font-weight:400;
    size: 26px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.nav-links a:hover{
    border-bottom:2px solid #111;
}

.nav-links a:active{
    font-weight: 500;
    border-bottom:2px solid #111;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  
}

.search-box input {
  width: 100%;
  padding: 17px 40px 17px 35px; 
  border: 1px solid #b6b6b6;
  border-radius: 50px;
  background-color: #f3f6fb;
  font-size: 14px;
}

.search-box .search-icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
  
}

.search-box .search-btn {
  position: absolute;
  right: 0px;
  padding: 17px 17px;
  border: 1px solid #b6b6b6;
  background: #ffffff;
  color: rgb(91, 91, 91);
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.search-box .search-btn:hover{
  background-color: #111;
  color: white;
}

@media (max-width:768px) {
  .hamburger { display:block; }
  .nav-links { display:none; flex-direction:column; background:#fff; position:absolute; left:0; right:0; top:64px; padding:12px; border-top:1px solid #eee; }
  .nav-links.open { display:flex; }
  div{
    flex-wrap: wrap;
    width: 100%;
  }
}

.header-user {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.header-user svg{
  padding: 10px;
  transition: all 0.3s ease;
}

.header-user svg:hover{
  background-color: #f3f6fb;
  border-radius: 50px;
}

.header-user svg:focus{
  background-color: #f3f6fb;
  border-radius: 50px;
}

.user-dropdown {
  position: absolute;
  top: 40px; 
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 100;
}

.user-dropdown p {
  margin: 0;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.user-dropdown button {
  margin-top: 8px;
  width: 100%;
  padding: 6px 10px;
  border: none;
  background: #2e2e31;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.user-dropdown button:hover {
  opacity: 0.9;
}

.wishlist img{
  width: 30px;
  padding: 10px;
  transition: all 0.3s ease;
}

.wishlist img:hover{
  background-color: #f3f6fb;
  border-radius: 50px;
}
.store-container {
  max-width: 100%;
  margin: auto;
  padding: 70px;
  font-family: 'Inter', sans-serif;
  color: #111;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .nav {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #444;
      font-size: 0.95rem;

      &:hover {
        color: #000;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .search {
      padding: 0.4rem 0.8rem;
      border: 1px solid #ddd;
      border-radius: 20px;
      font-size: 0.9rem;
    }

    .cart {
      background: none;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0px;

  h2 {
    font-size: 54px;
    line-height: 59px;
    font-weight: 400;
    color: #111;
    margin-bottom: 0.5rem;
  }

  p {
    color: #666;
    font-size: 1rem;
    padding-bottom: 20px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 100px;

  button {
    border: none;
    background: #f3f3f3;
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
  font-weight: 400;
  line-height: 29px;
    transition: 0.2s;

    &.active, &:hover {
      background: #111;
      color: #fff;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 30%));
  gap: 2rem;
  justify-content: center;

  .product-card {
    border-radius: 12px;
    overflow: hidden;
    
    transition: transform 0.2s;
   

    &:hover {
      transform: translateY(-4px);
    }

    &:hover .img{
      filter: brightness(50%);
    }

    .img-box {
      position: relative;
      text-align: center;
      
      

      img {
        max-width: 100%;
        height: auto;
        display: block;
       transition: all 0.4s ease;
      }

      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        color: #fff;
        font-size: 24px;
        align-items: center;
        cursor: pointer;
      }

      &:hover .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50px;
        height: 50px;
        align-items: center;
        border-radius: 50px;
        padding: 10px;
        padding-top: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      .tag {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: #ffffff;
        color: #7c7c7c;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        transition: 0.3s;
      }

      .tag:hover{
        background-color: #111;
        color: rgb(255, 255, 255);
      }

      
    }

    .info {
      padding: 1rem;
      height: 270px;
      position: relative;

      h3 {
        color: #111;
        font-size: 21px;
        font-weight: 500;
        line-height: 29px;
        font-family: 'Inter', sans-serif;
        padding-bottom: 15px;
      }

      p {
        color: rgb(91, 91, 91);
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
        font-family: 'Outfit', sans-serif;
        padding-bottom: 15px;
      }

      .add{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        position: absolute;
        bottom: 10px;
        align-items: center;
      }

      button {
        border: 1px solid #111;
        background: #111;
        color: white;
        padding: 15px 30px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 17px;
        font-weight: 400;
        line-height: 29px;
        transition: 0.2s;

        

        &:hover {
          background: #ffffff;
          color: #111;
        }
      }

      img{
        width: 30px;
        cursor: pointer;
        padding: 10px;
      }

      img:hover{
        background-color:#f3f6fb ;
        border-radius: 50px;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  button {
    border: 1px solid #111;
    background: #111;
    color: white;
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
  font-weight: 400;
  line-height: 29px;
    transition: 0.2s;

    &:hover {
      background: #ffffff;
      color: #111;
    }
  }
}


