*{
    padding: 0;
    margin: 0;
}

footer{
    background-color: #111;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 50px;
    margin: 0 70px;
}

footer .first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 0 30px ;
    border-bottom: 1px solid white;
}

footer button{
    color: white;
    background: transparent;
    border: 2px solid white;
    padding: 21px 30px;
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

footer button:hover{
    background-color: white;
    color: #111;
}

footer .second{
    padding:80px 0 ;
    display: flex;
    border-bottom: 1px solid white;
    width: 100%;
    justify-content: space-between;
}

footer p{
    color: white;
    list-style: 26px;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Outfit', sans-serif;
  padding: 0 50px 0 0;

}

footer .one{
    width: 50%;
}


.newsletter-form input[type="email"] {
    padding: 21px 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 280px;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin:30px 30px 0px 0;
}

footer .two{
    display: flex;
    flex-direction: column;
    
}

footer a{
    text-decoration: none;
    color: white;
    margin:8px 8px;  
    font-family:'Outfit', sans-serif;
    font-weight:400;
    size: 26px;
    cursor: pointer;
    transition: all 0.1s ease;
}

footer a:hover{
    color: #5a5a5a;
}

footer .third{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 6px;
    justify-content: center;
    
  }

  .socials a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    background: #111;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .socials a:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }

  .socials a:hover { 
    background: white;
    color: #111;
 } 

  