<header class="nav-root" [class.scrolled]="scrolled">
    <nav class="nav container">
      <a routerLink="/home" class="brand">
        <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67f74edab1afdf10f240750b_Sellifyx.svg" alt="logo">
      </a>
      <button class="hamburger" (click)="open = !open" aria-label="menu">☰</button>
      <div class="right">
        <div class="cart-icon">
          <span>{{ cartService.getTotalQuantity() }}</span>
          <a (click)="openCart()" style="cursor: pointer;">
            <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67ff5135b6a0574126b4e3b7_Cart%20Icon.svg" alt="cart">
          </a>
        </div>

        <ul class="nav-links" [class.open]="open">
          <li><a routerLink="/product/all" (click)="open=false">Store</a></li>
          <li><a routerLink="/about" (click)="open=true">About</a></li>
          <li><a routerLink="/support" (click)="open=true">Support</a></li>
          <li><a routerLink="/blogs" (click)="open=true">Blog</a></li>
          <li><a routerLink="/contact" (click)="open=true">Contact</a></li>
        </ul>

      
        <div class="search-box" (click)="open=true">
            <svg class="search-icon" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#878787" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            <input type="text">
            <button type="submit" class="search-btn">Search</button>
        </div>

        <div class="header-user" (click)="toggleDropdown()">
            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                <path d="M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21
                        M16 7C16 9.20914 14.2091 11 12 11
                        C9.79086 11 8 9.20914 8 7
                        C8 4.79086 9.79086 3 12 3
                        C14.2091 3 16 4.79086 16 7Z"
                        stroke="#000000" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>

            <div class="user-dropdown" *ngIf="showDropdown">
                <ng-container *ngIf="user; else loginOption">
                    <a routerLink="/profile"><p>Welcome, {{ username }}</p></a>
                    <button (click)="logout()">Logout</button>
                </ng-container>

                <ng-template #loginOption>
                    <button (click)="goToLogin()">Login</button>
                </ng-template>
                </div>   
                
                <div class="wishlist">
            <a routerLink="/wishlist">
                <img src="https://www.svgrepo.com/show/532468/heart-alt.svg" alt="">
            </a>
        </div>

            </div>
            
     
    </div>
    </nav>
            
   
  </header>


<!-- About Intro Section -->
<section class="about-hero">
    <div class="about-hero-content">
        <h1>About Our Collection</h1>
        <p>
         We are a dedicated team committed to providing exceptional products and<br>
        experiences for our valued customers.With a focus on quality and innovation,<br> 
        we carefully curate our collection to meet the highest standards.
      </div>
      <!-- Images Row -->
    <div class="about-hero-images">
        <div class="image-box-last">
            <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67fa385ee93dc9d9b2a9b8f4_Speaker.webp" alt="Image 1">
        </div>
        <div class="image-box-first">
            <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67fa49d4a13db063ff3ea9bd_Mouse.webp" alt="Image 2">
        </div>
        <div class="image-box-center">
            <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67f9e940e0aea4b11359271e_Head%20Phone.webp" alt="Image 3">
        </div>
        <div class="image-box-first">
            <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67fa3a2dff379762965967cc_Camera.webp" alt="Image 3">
        </div>
        <div class="image-box-last">
            <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67fa439d832cdc06e4bbef1f_Glass.webp" alt="Image 3">    
        </div>
    </div>
</section>

<!-- success-section -->
<div class="success-container">
  <!-- Left Side -->

    <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67f66734aea8313ff1729062_Success%20Image-p-1600.webp" class="left-image" />
  

  <!-- Right Side  -->
  <div class="text-box1">
    <h2>Measuring Our<br>
         Success In<br>
          Numbers</h2>
 
    <p>
      Discover the milestones that reflect our growth<br>
      and success. From years of experience to the<br>
       number of customers we’ve served, this highlights<br>
      the key achievements.
    </p>
    <button class="contact-btn" routerLink="/contact">Contact Now</button>
  </div>
</div>



<!-- store-section -->
<div class="store-container">
  <!-- Left Image -->
  <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67f93cf854d52cb4d03ed4a9_Product%20CTA%20Image.jpg" class="side-image left-image" />

  <!-- Center Text Box -->
  <div class="text-box2">
    <h2>We Craft Quality,<br>
         User-First<br>
          Products</h2>
    <p>
      From the initial concept to the final product,<br>
      we emphasize precision and thorough<br>
    testing, ensuring every detail meets the<br>
      highest standards for customer satisfaction.
    </p>
    <button class="contact-btn" routerLink="/product/all">Browse Products</button>
  </div>

  <!-- Right Image -->
  <img src="https://cdn.prod.website-files.com/67f0b3883b003d5b40abd974/67fe049ce16049010c4134b8_Craft%20Right-p-1600.webp" class="side-image right-image" />
</div>








<!-- Subscribe Section -->
<section class="newsletter-section">
        <div class="offer-box offer-left">10% Off</div>
        <div class="middle">
            <h2>Join Our Community – Get Exclusive<br/> Offers!</h2>
            <p>Subscribe to our email newsletter and stay updated with the<br/> latest news, exclusive offers, and exciting product launches.</p>
            
            <form class="newsletter-form">
                <input type="email" placeholder="Email Address" required>
                <button type="submit">Submit</button>
            </form>
        </div>
        
        <div class="offer-box offer-right">Offers</div>
</section>
